<footer th:fragment="footer" xmlns:sec="http://www.w3.org/1999/xhtml">
    <div class="container footerWrap">
        <div class="leftFoot row">
            <p>Recieve our welcome letter!</p>
            <div class="newsletter justify-center">
                <form th:action="@{/send-email}" th:method="post">
                    <input type="email" id="email" name="email" placeholder="Email:">
                    <button type="submit">Sign up</button>
                </form>
            </div>
        </div>

        <div class="middleFooter row justify-center">
            <div class="column shrink">
                <a th:href="@{/}">Home</a>
            </div>
            <div class="column">
                <a th:href="@{/profile}">Profile</a>
            </div>
            <div class="column">
                <a sec:authorize="!isAuthenticated()" th:href="@{/login}">Login</a>
            </div>
        </div>
        <div class="rightFoot row">
            <div class="column shrink flex-direction-row">
                <a href="https://www.facebook.com/sharer/sharer.php?u=https%3A//dndb.me/" target="_blank">Facebook</a>
            </div>
            <div class="column">
                <a href="https://twitter.com/intent/tweet?text=Check%20out%20DNDB!%20Conquer%20Chores,%20Battle%20Beasts!%20Unleash%20the%20hero%20within%20and%20conquer%20your%20chores%20with%20DnDB!%20%20%0A-%20https%3A//dndb.me/" target="_blank">Twitter</a>
            </div>
            <div class="column">
                <a href="https://www.linkedin.com/shareArticle?mini=true&url=https%3A//dndb.me/" target="_blank">Linkedin</a>
            </div>
        </div>
    </div>
</footer>
