<div th:fragment="footer">
    <div class="footerWrap">
        <div class="leftFoot">
            <p>Join our newsletter</p>
        </div>
    </div>
    <div class="middleFooter">
            <a th:href="@{/}">Home</a>
            <a th:href="@{/profile}">Profile</a>
            <a th:href="@{/login}">Login</a>
        </div>
    <div class="rightFoot">
          <a th:href="@{/}">Facebook</a>
            <a th:href="@{/}">Twitter</a>
            <a th:href="@{/}">Instagram</a>
    </div>
</div>