
.aboutCard {
    /*z-index: 99;*/
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.5);
    background: var(--fade-dark-purple);
    border-radius: 12px;
    width: 65vw;
    /*height: 10rem;*/
    flex-direction: row;
    /*position: relative;*/
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    flex: 1 0 0;
}

.nameRow {
    justify-content: center;
}

@keyframes swipeInRight {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes swipeInLeft {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

.aboutCard:nth-child(even) {
    animation-name: swipeInRight;
}

.aboutCard:nth-child(odd) {
    animation-name: swipeInLeft;
}
.poppaRow {
    justify-content: center;
}

.aboutH1Row {
    justify-content: center;
}

.aboutH1 {
    align-self: center;
    text-align: center;
}

.linkList {
    display: flex;
    flex-direction: row;
    align-content: space-between;
}

.linkRow {
    align-self: end;
}

.bio {

    text-align: center;
    align-self: center;
}