
.aboutCard {
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.5);
    background: var(--fade-dark-purple);
    border-radius: 12px;
    width: 65vw;
    flex-direction: row;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    flex: 1 0 0;

}

.nameRow {
    justify-content: center;
    padding-top: 50px;
}

@keyframes swipeInRight {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes swipeInLeft {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

.aboutCard:nth-child(even) {
    animation-name: swipeInRight;
}

.aboutCard:nth-child(odd) {
    animation-name: swipeInLeft;
}
.poppaRow {
    justify-content: center;

}

.aboutH1Row {
    justify-content: center;
    padding: 50px;

}

.aboutH1 {
    align-self: center;
    text-align: center;

}


.linkRow {
    align-self: end;
    justify-content: space-between;

}

.bio {

    text-align: center;
    align-self: center;
}

@media only screen and (max-width: 1007px) {
    .cardy {
        flex-wrap: wrap;
    }
}