.battle-icon {
    position: fixed;
    top: 120px;
    left: 15px;
    z-index: 5;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    padding: 5px;
    box-shadow: var(--cta2) inset 0 0 2px 2px;
    background: linear-gradient(rgba(0, 0, 0, .1), rgba(0, 0, 0, .1)), rgba(155, 58, 255, .5);
    backdrop-filter: blur(10px);
    cursor: pointer;
    transition: all ease-out .4s
}

.battle-icon:hover {
    transform: rotate(360deg);
}

.battle-icon > img {
    height: 100%;
    aspect-ratio: auto;
    box-shadow: #000 0 0 3px 1px;
    padding: 5px;
    border-radius: 50%;
}

.battle-icon-pop-out {
    position: fixed;
    top: 125px;
    left: 15px;
    z-index: 4;
    display: flex;
    height: 92px;
    width: 0;
    color: #fff;
    border: none;
    box-shadow: none;
    padding: 10px;
    background: none;
    border-radius: 2.5em 0 0 2.5em;
    text-align: center;
    flex-direction: column;
    font-size: 0;
    justify-content: center;
    align-items: center;
    font-family: Barrio, Inter, sans-serif;
    transition: all ease-out .4s .4s;
}

.battle-icon-pop-out.show {
    width: 32vw;
    font-size: 3em;
    box-shadow: var(--cta2) inset 0 0 3px 2px;
    background: var(--background);
}

.battle-slide-out {
    position: fixed;
    top: 126px;
    left: 15px;
    height: 0;
    width: 32vw;
    background: none;
    backdrop-filter: none;
    padding-top: 105px;
    z-index: 3;
    border-radius: 2.5em 0 0 0;
    overflow: hidden;
    transition: all ease-out .4s .4s;
}

.battle-slide-out.open {
    background: var(--background);
    backdrop-filter: blur(10px);
    height: 100vh;
}

.battles-list {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding: 10px;
    border: none;
    outline: none;
}

.create-battle-form {
    /*display: none;*/
}

.hidden-form-wrap {
    display: flex;
    align-items: center;
}

.create-battle-input {
    height: 100px;
    width: 100%;
    background: var(--background);
    border: none;
    outline: none;
    box-shadow: #000 inset 0 0 2px 1px;
    color: #fff;
}

.create-battle-input:focus {
    background: var(--fade-green-purple)
}

.create-battle-btn {
    position: absolute;
    top: 0;
    right: 0;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    padding: 5px;
    box-shadow: var(--cta2) inset 0 0 2px 2px;
    background: linear-gradient(rgba(0, 0, 0, .1), rgba(0, 0, 0, .1)), rgba(155, 58, 255, .5);
    background: var(--cta2);
}

.ul {
    height: 200px;
    width: 400px;
    background: #fff;
}

.li {
    background: var(--background);
    color: #fff;
}

.tasks {
    position: fixed;
    top: 25vh;
    left: 15px;
    height: 75vh;
    width: 30vw;
    padding: 15px;
    background: var(--secondary);
    overflow-y: auto;
}

.tasks-list {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.battle-name {
    text-align: center;
}

.task,
.edit-task-form,
.create-task-form {
    position: relative;
    border: none;
    outline: none;
    box-shadow: var(--background) inset 0 0 3px 1px;
    height: 100px;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.task-body {
    position: absolute;
    top: 0;
    left: 0;
    height: 100px;
    width: 85%;
    padding: 25px 15px 15px;
    font-size: 2.3em;
    color: #000;
    z-index: 1;
    transition: all ease-out .4s;
}

.task-body.edit {
    left: -100%;
}

.complete-task-form {
    display: none;
}

.edit-task-form {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.edit-task-input,
.create-task-input{
    position: absolute;
    top: 0;
    right: -85%;
    height: 100px;
    padding-left: 10px;
    box-shadow: var(--background) inset 0 0 3px 2px;
    border: none;
    outline: none;
    width: 70%;
    font-size: 1.5em;
    transition: all ease-out .4s;
}

.edit-task-input.edit {
    right: 30%;
}

.edit-task-submit-btn {
    display: none;
}

.delete-task-btn {
    position: absolute;
    top: 0;
    right: -1%;
    height: 100px;
    width: 15%;
    border: none;
    outline: none;
    background: indianred;
    box-shadow: var(--background) inset 0 0 3px 2px;
    transition: all ease-out .4s;
}

.delete-task-btn.edit {
    right: 15%;
}

.open-edit-task-btn,
.create-task-btn{
    position: absolute;
    top: 0;
    right: 0;
    height: 100px;
    width: 15%;
    border: none;
    outline: none;
    cursor: pointer;
    background: var(--secondary);
    box-shadow: var(--background) inset 0 0 3px 2px;
}


.create-task-input {
    /*right: 0;*/
    left: 0;
    width: 86%;
    font-size: 2.3em;
    background: var(--secondary);
}

.create-task-input:hover {

}

.monster {
    background: var(--slide-out-bg);
    height: 100vh;
    width: 70vw;

.monster-container{
    margin-top: 30px;
    background: var(--background);
    height: 80vh;
    width:70vw;

    margin-left: 30vw;
}

.battle-monster-img{
    width: 32rem;
}

.battle-chat-box{
    width: 100%;
    height: 20vh;
    background: var(--background);
    border: 2px solid gray;
    border-radius: 5px;
}

