footer {
    display: flex;
    flex-wrap: wrap;
    /*position: absolute;*/
    bottom: 0;
    max-height: 170px;
    height: 125px;
    width: 100vw;
    background: rgba(0, 0, 0, 0.4);
    padding: 0;
    color: #fff;
    font-family: Poppin, Inter, sans-serif;
    font-size: 14px;
    text-shadow: 0 0 4px var(--primary);
    margin-top: 50px;
}


.footerWrap {
    /*margin-top: 50px;*/
    display: flex;
    flex-direction: row;
    width: 100vw;
    max-height: 170px;
    justify-content: space-evenly;
}

/*      LEFT    */
.newsletter {
    display: flex;
    flex-direction: row;
    width: 28vw;
}

.leftFoot {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

/*      MIDDLE      */
.middleFooter {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/*      RIGHT       */
.rightFoot {
    display: flex;
    justify-content: end;
}

@media only screen and (max-width: 640px) {
    .socialLong {
        display: none;

    }

    .Socials-short {
        display: flex;
        width: 30px;
    }

}