footer {
    display: flex;
    flex-wrap: wrap;
    /*position: absolute;*/
    bottom: 0;
    max-height: 170px;
    height: 125px;
    width: 100vw;
    background: rgba(0, 0, 0, 0.4);
    padding: 0;
    color: #fff;
    font-family: Poppin, Inter, sans-serif;
    font-size: 14px;
    text-shadow: 0 0 4px var(--primary);
    margin-top: 50px;
}


.footerWrap {
    /*margin-top: 50px;*/
    display: flex;
    flex-direction: row;
    width: 100vw;
    max-height: 170px;
    justify-content: space-evenly;
}

.newsletter {
    display: flex;
    flex-direction: row;
    width: 28vw;
}

.leftFoot {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.middleFooter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rightFoot {
    display: flex;
    justify-content: end;
}

.email-btn-submit {
    background-color: var(--cta2);
    color:white;
    font-weight: bolder;
    font-size: 1rem;
    background-image: linear-gradient(to bottom, hotpink 0%, hotpink 90%, hotpink 90%, hotpink 100%);
    background-repeat: no-repeat;
    background-size: 0% 100%;
    background-position-x: right;
    transition: background-size 400ms;
}

.email-btn-submit:hover {
    background-size: 100% 100%;
    background-position-x: left;
    cursor: pointer;
}
.email-input{
    display: flex;
}
.w-100 {
    width: 100%;
}
.welcome-text{
    font-size: 1rem;
    font-weight: bold;
}
.footer-link{
    color: white;
}
.footer-link:hover{
    color: hotpink;
}
.rightFootShort{
    display: none;
}

@media screen and (max-width: 750px) {
    .rightFoot{
        display: none;
    }
    .rightFootShort{
        display: flex;
        flex-direction: column;
    }
}
