.column {
    padding: 60px;
    flex: 1;
    font-family: Barrio, Inter, sans-serif;

}

.index h1 {
    font-size: 5em;
    text-align: center;
    text-decoration: underline;
}



.land-h2 {
    font-size: 3em;
    text-align: center;
}

.land-h2 a {
    text-decoration: none;
    padding: 10px 10px;
    border-radius: .5em;
    transition: all ease-in .3s;

}

.land-h2 a:hover {
    color: #fff;
    background: var(--primary);
}

.land-h2 a:visited {
    text-decoration: none;
    color: inherit;
}