
.index h1 {
    font-size: 4em;
    text-align: center;

}


.land-h2 {
    font-size: 3em;
    text-align: center;

}

.land-h2 a {
    text-decoration: none;
    padding: 10px 10px;
    border-radius: .5em;
    transition: all ease-in .3s;
    color: #fff;
    background: var(--cta2);
    box-shadow: inset black 0px 0px 2px 1px;
    border: none;
    text-shadow: 0px 0px 3px black;


}

.land-h2 a:hover {
    text-decoration: inherit;
    background: rgb(0, 128, 224);
    transition: all ease-in .3s;
    padding: 10px 15px;
    max-height: 10px;
    /*font-size: 1.2em;*/
}


.land-h2 a:visited {
    text-decoration: none;
    color: inherit;
}

/*  TOP CONTAINER       */
.CCBB {
    display: flex;
    justify-content: center;
}


/*  CONTAINER FOR THE MAIN INPUT    */
.tooRight {
    display: flex;
    max-width: none;
    justify-content: space-between;
}



/*      LEFT SIDE STUFF     */
.attentionGetter {
    font-weight: 400;
}

.leftSide {
    display: flex;
    justify-content: start;
    width: 40vw;
    margin: 20px;

}


.description {
    display: flex;
    justify-content: start;
    /*background-color: rgba(0, 0, 0, 0.4);*/
    padding-bottom: 20px;
    font-weight: 400;
    border-radius: 1em;
}


/*.registrationButton {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    flex-direction: column;*/
/*    width: 30vw;*/
/*    margin: 20px;*/
/*    !*background-color: rgba(0, 0, 0, 0.4);*!*/
/*    padding-bottom: 20px;*/
/*    font-weight: 400;*/
/*    border-radius: 1em;*/
/*}*/

/*.blurb {*/
/*    margin-top: 10px;*/
/*    font-weight: 300;*/
/*    font-size: large;*/
/*}*/

.joinOrCreate {
    font-size: x-large;
    font-weight: 300;
}

.attentionButton {
    font-size: xxx-large;
}



/*      RIGHT SIDE STUFF        */
.rightSide {
    display: flex;
    width: 40vw;
    margin: 20px;
    /*background-color: rgba(0, 0, 0, 0.4);*/
    border-radius: 1em;
}

.battleItOut {
    font-size: 35px;
    font-weight: 400;
}

.battleColumn {
    padding: 10px 10px;
}


/* Medium (641px to 1007px) */
@media (min-width: 641px) and (max-width: 1007px) {

    .tooRight {
        flex-direction: column;
    }

    .leftSide {
        width: 90vw;
    }

    .rightSide {
        width: 90vw;
    }
}


/* Small */
@media (min-width: 412px) and (max-width: 640px) {
    .tooRight {
        flex-direction: column;
    }

    .leftSide {
        width: 90vw;
    }

    .rightSide {
        width: 90vw;
    }
}

/*  smallest    */
@media (max-width: 411px) {
    .attentionButton {
        font-size: xx-large;
    }
    .tooRight {
        flex-direction: column;
    }

    .leftSide {
        width: 90vw;
    }

    .rightSide {
        width: 90vw;
    }
}