.nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    height: 100px;
    width: 100vw;
    padding: 0;
    color: #fff;
    font-family: Poppin, Inter, sans-serif;
    font-size: 1.3rem;
    text-shadow: 0 0 5px var(--primary);
    /*overflow: hidden;*/
    background: rgba(0, 0, 0, .2);
    backdrop-filter: blur(10px);
}

.nav-wrap,
.menu-wrap {
    display: flex;
}

.logo-wrap {
    width: 35vw;
}

.nav-logo {
    font-size: 2.7rem;
}

.logo {
    display: flex;
    align-items: center;
    height: 100%;
    width: 40vw;
    padding-left: 15px;
    /*background: var(--cta2);*/
    color: #fff;
    border-radius: 10px;
    font-family: Barrio, Inter, sans-serif;
}

.nav-logo {
    flex: 1;
}

.nav-menu {
    display: flex;
    justify-content: flex-end;
    flex: 2;
}

/*.icon {*/
/*    background-color: var(--cta2);*/
/*    border-radius: 10px;*/
/*}*/

.icon img {
    height: 90px;
    aspect-ratio: auto;
    background-color: var(--cta2);
    border-radius: 18px;
    margin-left: 15px;
}

.menu-wrap ul {
    display: flex;
    align-items: center;
    column-gap: 20px;
    list-style: none;
}

.menu-wrap a {
    text-decoration: none;
    padding: 10px 10px;
    border-radius: .5em;
    transition: all ease-in .3s;
}

.menu-wrap a:visited {
    text-decoration: none;
    color: inherit;
}

.menu-wrap a:hover {
    color: #fff;
    background: var(--primary);
}


/*///////*/
/* Dropdown */

.dropdown {
    display: none;
}

/*///////*/
/* Dropdown Button */
@media screen and (max-width: 901px) {
    .menu-wrap {
        display: none;
    }
    .dropdown {
        display: none;
    }

    .dropdown {
        display: block;
        position: relative;
        padding: 10px 100px 0px 0px;
    }

    .dropbtn {
        background-color: darkslategrey;
        color: white;
        font-size: 16px;
        border: none;
        cursor: pointer;
        border-radius: .5em;
        padding: 5px;
    }

    /* Dropdown button on hover & focus */
    .dropbtn:hover,
    .dropbtn:focus {
        background-color: #2980B9;
    }

    /* Hamburger Bars */
    .bar {
        width: 25px;
        height: 3px;
        background-color: white;
        margin: 4px 0;
        transition: 0.4s;
    }

    /* Animate the Hamburger Bars to X */
    .dropbtn.active .bar:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .dropbtn.active .bar:nth-child(2) {
        opacity: 0;
    }

    .dropbtn.active .bar:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -6px);
    }

    /* Dropdown Content (Hidden by Default) */
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    /* Links inside the dropdown */
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    /* Change color of dropdown links on hover */
    .dropdown-content a:hover {
        background-color: #ddd;
    }

    /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
    .show {
        display: block;
    }
}
