.nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    height: 100px;
    width: 100vw;
    color: #fff;
    font-family: Poppin, Inter, sans-serif;
    font-size: 1.3rem;
    text-shadow: 0 0 5px var(--primary);
    background: rgba(0, 0, 0, .2);
    backdrop-filter: blur(10px);

}


.nav-logo {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    column-gap: 15px;
    min-width: 20vw;
    padding: 5px 5px -2px 30px;
    height: 106px;
    background: #000;
    border: none;
    margin: -5px 0 0 -5px;
}

.logo-text {
    display: flex;
    flex-direction: column;
    font-family: Barrio, Inter, sans-serif;
}

.dungeons {
    font-size: 2.3em;
    margin: 0 0 -22px 0;
}

.dust-bunnies {
    align-self: flex-end;
}

.logo-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100px;
    aspect-ratio: auto;
}

.icon-img {
    background: var(--cta2);
}

.menu-wrap {
    display: flex;
    padding-right: 5px;
    font-size: 1.1em;
    min-width: 33vw;
}

.menu-wrap ul {
    display: flex;
    align-items: center;
    list-style: none;
}

.menu-wrap a {
    text-decoration: none;
    padding: 10px 10px;
    border-radius: .3em;
    transition: all ease-in .3s;
}

.menu-wrap a:visited {
    text-decoration: none;
    color: inherit;
}

.menu-wrap a:hover {
    color: #fff;
    background: var(--primary);
}

.nav-logo-short {
    display: none;
}


/*///////*/
/* Dropdown */

.dropdown {
    display: none;
}


/*///////*/
/* Dropdown Button */
@media screen and (max-width: 1007px) {
    /*      LOGO FOR MEDIUM SIZE*/
    .nav-logo-short {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        min-width: 10vw;
        margin-left: 20px;
        font-size: xxx-large;
        font-family: Barrio, Inter, sans-serif;
    }
    .logo-text {
        display: none;
    }



    /*      DROP DOWN MENU STARTS HERE      */
    .menu-wrap {
        display: none;
    }

    .dropdown {
        display: none;
    }

    .dropdown {
        display: block;
        position: relative;
        padding: 10px 5px 0px 0px;
        margin-left: auto;
        margin-right: 10px;
    }

    .dropbtn {
        background-color: var(--cta2);
        color: white;
        /*padding: 16px;*/
        font-size: 16px;
        border: none;
        cursor: pointer;
        border-radius: .5em;
        padding: 10px;
    }

    /* Dropdown button on hover & on click */
    /*.dropbtn:active,*/
    .dropbtn.active,
    .dropbtn:hover {
        background: var(--fade-green-purple);
    }

    /* Hamburger Bars */
    .bar {
        width: 50px;
        height: 5px;
        background-color: white;
        margin: 5px 0;
        transition: 0.4s;
    }

    /* Animate the Hamburger Bars to X */
    .dropbtn.active .bar:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .dropbtn.active .bar:nth-child(2) {
        opacity: 0;
    }

    .dropbtn.active .bar:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -6px);
    }

    /* Dropdown Content (Hidden by Default) */
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        margin-left: -4.8em;
        border-radius: 1em;
    }

    /* Links inside the dropdown */
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    /* Change color of dropdown links on hover */
    .dropdown-content a:hover {
        background-color: #ddd;
    }

    /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
    .show {
        display: block;
    }

}

@media screen and (max-width: 640px) {
    /*      LOGO FOR SMALL SIZE*/

    .nav-logo-short {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        min-width: 10vw;
        margin-left: 20px;
        font-size: xxx-large;
        font-family: Barrio, Inter, sans-serif;
    }
    .logo-text {
        display: none;
    }

}
