@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,900;0,1000;1,800;1,900;1,1000&display=swap');

/* FONT FOR PAGE */

.h1Profile {
    font-family: 'Inconsolata', monospace;
    font-size: 75px;
}

.h2Profile {
    font-family: 'Inconsolata', monospace;
}

.h4Profile {
    font-family: 'Inconsolata', monospace;
}

.profileColumn {
    display: flex;
    flex: 0 0 1;
}

/* COVER PHOTO */
.coverPhoto {
    width: 100vw;
    height: 300px;
    z-index: -1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.picParent {
    margin-top: 80px;
    width: 100vw;
}

/*  EDIT PROFILE MODAL  */
.edit-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    max-height: 522px;
    height: 100%;
    max-width: 500px;
    width: 100%;
    border-radius: .5em;
    box-shadow: #000 0 0 3px 1px;
    border:none;
    outline:none;
    background: var(--background);
    /*font-family: Barrio, Inter, sans-serif;*/
    color: white;
    z-index: 4;
}


.edit-modal > form {
    height: 100%;
    width: 100%;
    padding: 1px;
}

.edit-modal > form > input {
    height: 40px;
    width: 450px;
    padding: 6px 8px;
    border: none;
    outline: none;
    box-shadow: inset #000 0 0 3px 1px;
    background: var(--secondary);
    color: var(--primary);
    /* text-shadow: 0 1px 3px #000; */
    font-size: 1.25em;
    border-radius: 0.2em;
    justify-content: center;
}

.edit-modal > form > input:focus {
}

.edit-modal > form > button {
    padding: 6px 8px;
    height: 70px;
    box-shadow: inset #000 0 0 3px 1px;
    background: var(--primary);
    text-shadow: 0 1px 3px #000;
    color: #fff;
    font-size: 2em;
    border: none;
    outline: none;
    border-radius: .2em;
    transition: all ease-out .3s;
}

.edit-modal > form > button:hover {
    box-shadow: inset 0 0 3px #000;
    font-size: 2.1em;
}

.edit-modal-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100vw;
    z-index: 3;
    backdrop-filter: blur(5px);
}

.image-add {
    background-color: #4CAF50;
    width: 146px;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}



/* AVATAR */
.avatar-wrapper {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid white;
}

.avatarPlacement {
    margin-top: -200px;
}

/* USER NAME */
.username {
    font-family: 'Inconsolata', monospace;
    color: #fff;
    max-width: 33vw;
    padding: 0;
    margin-top: 56px;
    align-items: start;
    overflow: hidden;
}

/* EDIT BUTTON */
.editProfile {
    margin-right: -500px;
    max-width: 150px;
    margin-bottom: 35px;
    display: flex;
    padding: 0;
    flex-wrap: wrap;
    align-content: end;
    justify-content: end;
}

.editButton {
    display: flex;
    max-width: 33vw;
    justify-content: end;
}

/* BATTLE AREA */
.battleRow {
    margin: 50px 50px;
    width: 75vw;
    display: flex;
}

.battleArea {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    background-color: rgba(155, 58, 227, 0.1);
    border-radius: .5em;
}

.battleCard {
    margin: 10px;
    width: calc(25% - 20px);
    height: 200px;
    max-width: 190px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.activeBattleRow {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
}

/* BADGES */
.badgeRow {
    margin: 50px 50px;
    width: 75vw;
    display: flex;
}

.badgeArea {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    background-color: rgba(155, 58, 227, 0.1);
    border-radius: .5em;
}

.badgeCard {
    margin: 10px;
    width: calc(25% - 20px);
    height: 200px;
    max-width: 190px;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 10px;
}

.activeBadgeRow {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
}