.register-link {
    align-self: center;
    margin-top: 1em;
}

.register-link a {
    text-decoration: none;
    padding: 10px 10px;
    border-radius: .5em;
    transition: all ease-in .3s;
}

.register-link a:hover {
    color: #fff;
    background: var(--primary);
}

.register-link a:visited {
    text-decoration: none;
    color: inherit;
}

.register-form label {
    text-align: center;
}

.form-row {
    align-self: center;
}

.submit {
    align-self: center;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    margin-top: 1em;
}