.register-link {
    align-self: center;
    margin-top: 1em;
}

.register-link a {
    text-decoration: none;
    padding: 10px 10px;
    border-radius: .5em;
    transition: all ease-in .3s;
}

.register-link a:hover {
    color: #fff;
    background: var(--primary);
}

.register-link a:visited {
    text-decoration: none;
    color: inherit;
}

.register-form label {
    text-align: center;
}

.form-row {
    align-self: center;
}

.submit {
    align-self: center;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    margin-top: 1em;
}

.loginForm {
    z-index: 99;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.5);
    background: var(--fade-dark-purple);
    border-radius: 12px;
    width: 25rem;
    height: 36rem;
}

.login-register-Btn {
    height: 50px;
    background-color: var(--cta2);
    color:white;
    font-weight: bolder;
    font-size: 2rem;
    border-radius: 10px;
    background-image: linear-gradient(to bottom, hotpink 0%, hotpink 90%, hotpink 90%, hotpink 100%);
    background-repeat: no-repeat;
    background-size: 0% 100%;
    background-position-x: right;
    transition: background-size 400ms;
}

.login-register-Btn:hover {
    background-size: 100% 100%;
    background-position-x: left;
    cursor: pointer;
}

.loginForm {
    z-index: 1;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.5);
    background: var(--fade-dark-purple);
    border-radius: 12px;
    width: 25rem;
    height: 36rem;
}

.register-form {
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.5);
    background: var(--fade-dark-purple);
    border-radius: 12px;
    width: 25rem;
    height: 36rem;
}

.anchor {
    height: 0;
    width: 0;
    position: absolute;
}

.monster-sneak1 {
    transform: scaleX(-1);
    top: -193px;
    left: 156px;
    height: 200px;
    width: 200px;
    position: relative;
    z-index: 1;
}

.monster-sneak2 {
    top: -707px;
    left: 331px;
    height: 200px;
    width: 200px;
    position: relative;
    z-index: 0;
}

.monster-sneak3 {
    top: -660px;
    left: 178px;
    height: 200px;
    width: 258px;
    position: relative;
    z-index: -1;
}

.monster-sneak4 {
    transform: scaleX(-1);
    top: -212px;
    left: 377px;
    height: 200px;
    width: 200px;
    position: relative;
    z-index: -1;
}



/* Medium (641px to 1007px) */
@media (min-width: 641px) and (max-width: 1007px) {

    .monster-sneak1 {
       display: none;
    }

    .monster-sneak3 {
        display: none;
    }
    .monster-sneak4 {
        display: none;
    }
}



/* Small (less than 640px) */
@media (max-width: 639px) {

    .monster-sneak1 {
        display: none;
    }
    .monster-sneak2 {
        display: none;
    }
    .monster-sneak3 {
        display: none;
    }
    .monster-sneak4 {
        display: none;
    }
}

/*--------------------- CONTACT US PAGE ---------------------*/

.contact-form {
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.5);
    background: var(--fade-dark-purple);
    border-radius: 12px;
    width: 80vw;
    height: 30rem;
    display: flex;
    justify-content: flex-start;
    padding: 30px;
}

.sbmt-btn-ct{
    display: flex;
    width: 100%;
    margin-top: 15px;
    border-radius: 10px;
    height: 50px;
    justify-content: center;
    align-items: center;
    background-color: var(--cta2);
    color:white;
    font-weight: bolder;
    font-size: 2rem;
    /* Pink Hover This down */
    background-image: linear-gradient(to bottom, hotpink 0%, hotpink 90%, hotpink 90%, hotpink 100%);
    background-repeat: no-repeat;
    background-size: 0% 100%;
    background-position-x: right;
    transition: background-size 400ms;

}
.sbmt-btn-ct:hover {
    background-size: 100% 100%;
    background-position-x: left;
}
    /* END PINK HOVER CODE */
.ne-form{
    display:flex;
    flex-direction: row;
    width: 80%;
    height:50px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-weight: bold;
    font-size: x-large;
    background-color: rgb(32,33,36);
    color: white;
    padding-bottom: 10px;
}
.kyle {
    flex-direction: row;
    padding-bottom: 20px;
    width: 75vw;
}
.msg-area {
    display: flex;
    width: 75vw;
    height: 200px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: rgb(32,33,36);
    color: white;
}
.margin-bottom-1rem{
    margin-bottom: 1rem;
}
.margin-bottom-2rem{
    margin-bottom: 2rem;
}

/* Small */
@media (min-width: 20rem) and (max-width: 30rem) {
    .contact-form {
        box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.5);
        background: var(--fade-dark-purple);
        border-radius: 12px;
        width: 80vw;
        height: 30rem;
        display: flex;
        justify-content: flex-start;
        padding: 30px;
    }
    .feedback-header {
        display: flex;
        font-size: 1.5rem;
    }
    .msg-area {
        display: flex;
        width: 75vw;
        height: 200px;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        background-color: rgb(32,33,36);
        color: white;
    }
}