<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="~{partials/head :: head ('About Page')}"></head>
<body>
<nav th:insert="~{partials/navbar :: navbar}" style="min-height: 100px" id="page-1"></nav>
<div class="page-wrapper">
  <div class="container grow mt-2">
    <div class="row grow poppaRow">
      <div class="grow">
        <div class="row aboutH1Row">
          <h1 class="aboutH1">

            <strong>Meet The Devs!</strong>
          </h1>
        </div><br><br><br>
        <div class="aboutCard One">
          <div class="row cardy">
            <div class="column">
              <div class="row">
                <img src="/images/dustBunny.png" alt="Avatar" class="avatar">
              </div>
            </div>
            <div class="column">
              <div class="row nameRow">
                <h2>Dev Team D&DB</h2>
              </div>
              <br>
              <div class="row grow">
                <p class="bio">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores dolor odio possimus quia suscipit. Culpa dicta, dolorum eligendi quaerat quam sed veniam. Dolor nemo quo rem. Id sed sunt voluptatibus?</p>
              </div>
              <br>
              <br>
              <div class="row linkRow">
                  <p></p>
                  <p></p>
                  <p></p>

              </div>
            </div>
          </div>
        </div>

        <br>

        <div class="aboutCard two">
          <div class="row cardy">
            <div class="column">
              <div class="row">
                <img src="/images/headshot-ezra.jpg" alt="Avatar" class="avatar">
                <img src="https://cdn.discordapp.com/attachments/415980182021603329/1120457238633533590/IMG_1853.png" alt="monster" class="personalMonster">
              </div>
            </div>
            <div class="column">
              <div class="row nameRow">
                <h2 class="dev-name">Ezra Marama</h2>
              </div>
              <br>
              <div class="row grow">
                <p class="bio">Army veteran. Leaving the military, I felt the need to search for a new interesting and challenging career which led me to pursue a full-stack program.
                  I have a newfound passion for coding and plan to leverage my full-stack developer skills to create solutions and contribute to the growth and betterment of software applications. Aswell as create my own applications to train myself on new concepts and keep up with the ever changing industry. I am highly committed to learning and exploring new technologies,
                  software languages, and being flexible enough to adapt to the project at hand. I am eager to take on new challenges and expand my software development skills and knowledge.</p>
              </div>
              <br>
              <br>
              <div class="row linkRow">
                <p class="links">Links: </p>
                <a class="hover" href="https://github.com/Ez-Megalodon" target="_blank"> Github</a><p> | </p>
                <a class="hover" href="https://www.linkedin.com/in/ezra-marama/" target="_blank">LinkedIn</a><p> | </p>
                <a class="hover" href="mailto:ezra.marama@gmail.com" target="_blank"><p class="hover">Gmail</p></a>
              </div>
            </div>
          </div>
        </div>

        <br>

        <div class="aboutCard three">
          <div class="row cardy">
            <div class="column">
              <div class="row">
                <img src="/images/headshotdawson.jpg" alt="Avatar" class="avatar">
                <img src="https://fastly.picsum.photos/id/989/200/300.jpg?hmac=ogky6xHUEi9lZWaqSfoblaQBusCIKbpFT1HQ2h4jZM0" alt="monster" class="personalMonster">
              </div>
            </div>
            <div class="column">
              <div class="row nameRow">
                <h2 class="dev-name">Dawson Schroeder</h2>
              </div>
              <br>
              <div class="row grow">
                <p class="bio">Army Veteran and Full Stack Software Developer with training and leadership experience. Able to work in a dynamic,  challenging environment and looking for opportunities for professional growth and development. With my technical skills and military training background, I will complete development projects efficiently and ensure that business requirements are met.</p>
              </div>
              <br>
              <br>
              <div class="row linkRow">
                <p class="links">Links: </p>
                <a class="hover" href="https://github.com/Dawson-Schroeder" target="_blank"> Github</a><p> | </p>
                <a class="hover" href="https://www.linkedin.com/in/dawson-schroeder/" target="_blank">LinkedIn</a><p> | </p>
                <a class="hover" href="mailto:schroeder.dawson.d@gmail.com" target="_blank"><p class="hover">Gmail</p></a>

              </div>
            </div>
          </div>
        </div>

        <br>

        <div class="aboutCard four">
          <div class="row cardy">
            <div class="column">
              <div class="row">
                <img src="https://cdn.discordapp.com/attachments/526187085741162498/1124055670271000696/cu-5-23_0010.jpg" alt="Lennox Avatar" class="avatar">
              </div>
            </div>
            <div class="column">
              <div class="row nameRow">
                <h2 class="dev-name">Lennox Ballard</h2>
              </div>
              <br>
              <div class="row grow">
                <p class="bio">Professional Software Developer with experience in coding and debugging, managing projects, and finding solutions to complex challenges. Adaptable worker and creative thinker with a passion for programming to build innovative, secure, and accessible solutions that contribute to the growth of productive software applications. I Enjoy applying an understanding of UI/UE with frontend development to create a great user-friendly web application.
                </p>
              </div>
              <br>
              <br>
              <div class="row linkRow">
                <p class="links">Links: </p>
                <a class="hover" href="https://github.com/Lennoxmb" target="_blank"> Github</a><p> | </p>
                <a class="hover" href="https://www.linkedin.com/in/lennox-ballard/" target="_blank">LinkedIn</a><p> | </p>
                <a class="hover" href="mailto:noellemb@gmail.com" target="_blank"><p class="hover">Gmail</p></a>

              </div>
            </div>
          </div>
        </div>

        <br>

        <div class="aboutCard five">
          <div class="row cardy">
            <div class="column">
              <div class="row">
                <img src="/images/kelvynheadshot.jpg" alt="Avatar" class="avatar">
              </div>
            </div>
            <div class="column">
              <div class="row nameRow">
                <h2 class="dev-name">Kelvyn Medellin</h2>
              </div>
              <br>
              <div class="row grow">
                <p class="bio">Full stack developer and US Army veteran with a background in the medical field. Passionate about creating intuitive and user-friendly applications, I have discovered a deep interest in coding. It engages my mind and critical thinking, much like medicine did, while also allowing me to explore my creative side. I find immense satisfaction in solving complex problems and bringing ideas to life through code. As a lifelong learner, I enjoy challenging myself to continually expand my knowledge and skills within the field of web development.</p>
              </div>
              <br>
              <br>
              <div class="row linkRow">
                <p class="links">Links: </p>
                <a class="hover" href="https://github.com/MedellinK" target="_blank"> Github</a><p> | </p>
                <a class="hover" href="https://www.linkedin.com/in/medellink/" target="_blank">LinkedIn</a><p> | </p>
                <a class="hover" href="mailto:medellinkelvyn98@gmail.com" target="_blank"><p class="hover">Gmail</p></a>

              </div>
            </div>
          </div>
        </div>

        <br>

        <div class="aboutCard six">
          <div class="row cardy">
            <div class="column">
              <div class="row">
                <img src="images/dustBunny.png" alt="Avatar" class="avatar">
              </div>
            </div>
            <div class="column">
              <div class="row nameRow">
                <h2 class="dev-name">Andrew Mamamaam</h2>
              </div>
              <br>
              <div class="row grow">
                <p class="bio">Andrew is a full stack developer with a background in education. He is a lifelong learner who is always
                  looking for new ways to challenge himself. He is passionate about creating applications that are
                  intuitive and user friendly. When he is not coding, he enjoys spending time with his family, playing
                  video games, and reading.</p>
              </div>
              <br>
              <br>
              <div class="row linkRow">
                <p class="links">Links: </p>
                <a class="hover" href="" target="_blank"> Github</a><p> | </p>
                <a class="hover" href="" target="_blank">LinkedIn</a><p> | </p>
                <a class="hover" href="mailto:" target="_blank"><p class="hover">Gmail</p></a>

              </div>
            </div>
          </div>
        </div>

        <br>

        <a class="hover joinOrCreate" href="#page-1">Back to Top</a>


      </div>
    </div>
  </div>
</div>
  <div th:insert="~{partials/footer :: footer}"></div>
</body>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    window.addEventListener("scroll", animateCards);

    function animateCards() {
      let cards = document.getElementsByClassName("aboutCard");
      let offset = 450; // controls when the card comes into view

      for (let i = 0; i < cards.length; i++) {
        let card = cards[i];
        let cardTop = card.getBoundingClientRect().top;
        let windowHeight = window.innerHeight;

        if (cardTop < windowHeight - offset) {
          card.classList.add("slideIn");
        } else {
          card.classList.remove("slideIn");
        }
      }
    }

    animateCards();
  });


</script>
</html>