<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="~{partials/head :: head ('About Page')}"></head>
<body>
<nav th:insert="~{partials/navbar :: navbar}" style="min-height: 100px"></nav>
<div class="page-wrapper">
  <div class="container">
    <div class="row grow poppaRow">
<!--      here is a column that will have 5 rows or "cards" containing 3 columns next to eachother, the first one for an image pertaining to the developer and -->
      <div class="column grow">
        <div class="row">
          <h1 class="aboutH1">
            <br><strong>About Us</strong><br><br>
          </h1>
        </div>
        <div class="aboutCard One">
            <div class="row">
                <div class="column">
                <img src="https://i.imgur.com/5ZQ9X9i.jpg" alt="Avatar" class="avatar">
                <h2>Andrew</h2>
                </div>
                <div class="column">
                <p>Andrew is a full stack developer with a background in education. He is a lifelong learner who is always
                    looking for new ways to challenge himself. He is passionate about creating applications that are
                    intuitive and user friendly. When he is not coding, he enjoys spending time with his family, playing
                    video games, and reading.</p>
                  <ul class="linkList">
                    <li>Github Link Placeholder</li>
                    <li>LinkedIn Placeholder</li>
                    <li>Gmail Placeholder</li>


                  </ul>
                </div>
            </div>
        </div>
        <br>
        <div class="aboutCard Two">
          <div class="row">
            <div class="column">
              <img src="https://i.imgur.com/5ZQ9X9i.jpg" alt="Avatar" class="avatar">
            </div>
            <div class="column">
              <h2>Andrew</h2>
              <p>Andrew is a full stack developer with a background in education. He is a lifelong learner who is always
                looking for new ways to challenge himself. He is passionate about creating applications that are
                intuitive and user friendly. When he is not coding, he enjoys spending time with his family, playing
                video games, and reading.</p>
            </div>
          </div>
        </div>
        <br>
        <div class="aboutCard Three">
          <div class="row">
            <div class="column">
              <img src="https://i.imgur.com/5ZQ9X9i.jpg" alt="Avatar" class="avatar">
            </div>
            <div class="column">
              <h2>Andrew</h2>
              <p>Andrew is a full stack developer with a background in education. He is a lifelong learner who is always
                looking for new ways to challenge himself. He is passionate about creating applications that are
                intuitive and user friendly. When he is not coding, he enjoys spending time with his family, playing
                video games, and reading.</p>
            </div>
          </div>
        </div>
        <br>
        <div class="aboutCard Four">
          <div class="row">
            <div class="column">
              <img src="https://i.imgur.com/5ZQ9X9i.jpg" alt="Avatar" class="avatar">
            </div>
            <div class="column">
              <h2>Andrew</h2>
              <p>Andrew is a full stack developer with a background in education. He is a lifelong learner who is always
                looking for new ways to challenge himself. He is passionate about creating applications that are
                intuitive and user friendly. When he is not coding, he enjoys spending time with his family, playing
                video games, and reading.</p>
            </div>
          </div>
        </div>
        <br>
        <div class="aboutCard Five">
          <div class="row">
            <div class="column">
              <img src="https://i.imgur.com/5ZQ9X9i.jpg" alt="Avatar" class="avatar">
            </div>
            <div class="column">
              <h2>Andrew</h2>
              <p>Andrew is a full stack developer with a background in education. He is a lifelong learner who is always
                looking for new ways to challenge himself. He is passionate about creating applications that are
                intuitive and user friendly. When he is not coding, he enjoys spending time with his family, playing
                video games, and reading.</p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>



</div>
  <div th:insert="~{partials/footer :: footer}"></div>
</body>
</html>