<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="~{partials/head :: head ('About Page')}"></head>
<body>
<nav th:insert="~{partials/navbar :: navbar}" style="min-height: 100px"></nav>
<div class="page-wrapper">
  <div class="container grow">
    <div class="row grow poppaRow">
      <div class="grow">
        <div class="row aboutH1Row">
          <h1 class="aboutH1">
            <strong>Meet The Devs!</strong>
          </h1>
        </div><br><br><br>
        <div class="aboutCard One">
          <div class="row">
            <div class="column">
              <div class="row">
                <img src="images/dustBunny.png" alt="Avatar" class="avatar">
              </div>
            </div>
            <div class="column">
              <div class="row nameRow">
                <h2>Andrew Mamamaam</h2>
              </div>
              <div class="row grow">
                <p class="bio">Andrew is a full stack developer with a background in education. He is a lifelong learner who is always
                  looking for new ways to challenge himself. He is passionate about creating applications that are
                  intuitive and user friendly. When he is not coding, he enjoys spending time with his family, playing
                  video games, and reading.</p>
              </div>
              <div class="row linkRow">
                <ul class="linkList">
                  <li>Github Link Placeholder</li>
                  <li>LinkedIn Placeholder</li>
                  <li>Gmail Placeholder</li>

                </ul>
              </div>
            </div>
          </div>
        </div>
        <br>

        <div class="aboutCard One">
          <div class="row">
            <div class="column">
              <div class="row">
                <img src="images/dustBunny.png" alt="Avatar" class="avatar">
              </div>
            </div>
            <div class="column">
              <div class="row nameRow">
                <h2>Andrew</h2>
              </div>
              <div class="row grow">
                <p class="bio">Andrew is a full stack developer with a background in education. He is a lifelong learner who is always
                  looking for new ways to challenge himself. He is passionate about creating applications that are
                  intuitive and user friendly. When he is not coding, he enjoys spending time with his family, playing
                  video games, and reading.</p>
              </div>
              <div class="row linkRow">
                <ul class="linkList">
                  <li>Github Link Placeholder</li>
                  <li>LinkedIn Placeholder</li>
                  <li>Gmail Placeholder</li>

                </ul>
              </div>
            </div>
          </div>
        </div>
        <br>

        <div class="aboutCard One">
          <div class="row">
            <div class="column">
              <div class="row">
                <img src="images/dustBunny.png" alt="Avatar" class="avatar">
              </div>
            </div>
            <div class="column">
              <div class="row nameRow">
                <h2>Andrew</h2>
              </div>
              <div class="row grow">
                <p class="bio">Andrew is a full stack developer with a background in education. He is a lifelong learner who is always
                  looking for new ways to challenge himself. He is passionate about creating applications that are
                  intuitive and user friendly. When he is not coding, he enjoys spending time with his family, playing
                  video games, and reading.</p>
              </div>
              <div class="row linkRow">
                <ul class="linkList">
                  <li>Github Link Placeholder</li>
                  <li>LinkedIn Placeholder</li>
                  <li>Gmail Placeholder</li>

                </ul>
              </div>
            </div>
          </div>
        </div>
        <br>

        <div class="aboutCard One">
          <div class="row">
            <div class="column">
              <div class="row">
                <img src="images/dustBunny.png" alt="Avatar" class="avatar">
              </div>
            </div>
            <div class="column">
              <div class="row nameRow">
                <h2>Andrew</h2>
              </div>
              <div class="row grow">
                <p class="bio">Andrew is a full stack developer with a background in education. He is a lifelong learner who is always
                  looking for new ways to challenge himself. He is passionate about creating applications that are
                  intuitive and user friendly. When he is not coding, he enjoys spending time with his family, playing
                  video games, and reading.</p>
              </div>
              <div class="row linkRow">
                <ul class="linkList">
                  <li>Github Link Placeholder</li>
                  <li>LinkedIn Placeholder</li>
                  <li>Gmail Placeholder</li>

                </ul>
              </div>
            </div>
          </div>
        </div>
        <br>

        <div class="aboutCard One">
          <div class="row">
            <div class="column">
              <div class="row">
                <img src="images/dustBunny.png" alt="Avatar" class="avatar">
              </div>
            </div>
            <div class="column">
              <div class="row nameRow">
                <h2>Andrew</h2>
              </div>
              <div class="row grow">
                <p class="bio">Andrew is a full stack developer with a background in education. He is a lifelong learner who is always
                  looking for new ways to challenge himself. He is passionate about creating applications that are
                  intuitive and user friendly. When he is not coding, he enjoys spending time with his family, playing
                  video games, and reading.</p>
              </div>
              <div class="row linkRow">
                <ul class="linkList">
                  <li>Github Link Placeholder</li>
                  <li>LinkedIn Placeholder</li>
                  <li>Gmail Placeholder</li>

                </ul>
              </div>
            </div>
          </div>
        </div>
        <br>

        <div class="aboutCard One">
          <div class="row">
            <div class="column">
              <div class="row">
                <img src="images/dustBunny.png" alt="Avatar" class="avatar">
              </div>
            </div>
            <div class="column">
              <div class="row nameRow">
                <h2>Andrew</h2>
              </div>
              <div class="row grow">
                <p class="bio">Andrew is a full stack developer with a background in education. He is a lifelong learner who is always
                  looking for new ways to challenge himself. He is passionate about creating applications that are
                  intuitive and user friendly. When he is not coding, he enjoys spending time with his family, playing
                  video games, and reading.</p>
              </div>
              <div class="row linkRow">
                <ul class="linkList">
                  <li>Github Link Placeholder</li>
                  <li>LinkedIn Placeholder</li>
                  <li>Gmail Placeholder</li>

                </ul>
              </div>
            </div>
          </div>
        </div>
        <br>

        <div class="aboutCard One">
          <div class="row">
            <div class="column">
              <div class="row">
                <img src="images/dustBunny.png" alt="Avatar" class="avatar">
              </div>
            </div>
            <div class="column">
              <div class="row nameRow">
                <h2>Andrew</h2>
              </div>
              <div class="row grow">
                <p class="bio">Andrew is a full stack developer with a background in education. He is a lifelong learner who is always
                  looking for new ways to challenge himself. He is passionate about creating applications that are
                  intuitive and user friendly. When he is not coding, he enjoys spending time with his family, playing
                  video games, and reading.</p>
              </div>
              <div class="row linkRow">
                <ul class="linkList">
                  <li>Github Link Placeholder</li>
                  <li>LinkedIn Placeholder</li>
                  <li>Gmail Placeholder</li>

                </ul>
              </div>
            </div>
          </div>
        </div>
        <br>



      </div>
    </div>
  </div>
</div>
  <div th:insert="~{partials/footer :: footer}"></div>
</body>
</html>