<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="~{partials/head :: head ('Battlegrounds')}"></head>
<body>
<nav th:insert="~{partials/navbar :: navbar}"></nav>
<div class="page-wrapper">
  <div class="container grow">
    <div class="row grow full-width no-padding">
      <!--      BATTLE SLIDE OUT-->
      <div class="battle-icon">
        <img src="/images/centered_logo.png" alt="battle icon">
      </div>
      <div class="battles-container-overlay hidden"></div>
      <section class="battle-slide-out">
        <!--        BATTLES CONTAINER-->
        <div class="battles">
                    <form action="/battlegrounds/create-battle" method="post" class="add-battle-form">
                      <input type="text" name="title" class="add-battle-input" autofocus>
                      <button type="submit" class="add-battle-btn">Create Battle</button>
                    </form>
          <div th:each="battle : ${battles}">
            <div class="battle">
              <h2 th:text="${battle.title}"></h2>
              <p th:text="${battle.status}"></p>
              <!--              <form class="edit-battle-form" th:action=`@{/battlegrounds/battle/{id}/edit-battle?id=${battle.id}}`>-->
              <!--                <input class="edit-battle-input hidden" type="text" name="edit-battle" placeholder="Edit battle"-->
              <!--                       autofocus>-->
              <!--                <button class="edit-battle-btn hidden" type="submit">Submit Edit</button>-->
              <!--                <button class="open-edit-battle-btn">Edit battle</button>-->
              <!--              </form>-->
            </div>
          </div>
        </div>
      </section>
      <!--      TASKS CONTAINER-->
      <section class="tasks">
        <div class="tasks-list">
          <ul class="battle-tasks hidden" th:each="battle : ${battles}">
            <h2 class="battle-name" th:text="${battle.title}"></h2>
            <li class="task not-complete" th:each="task : ${battle.tasks}" data-battle-id="${battle.id}"
                data-battle-status="${battle.status}">
              <h3 class="task-body" th:text="${task.taskBody}"></h3>
              <!--              <form class="edit-task-form hidden"-->
              <!--                    th:action=`@{/battlegrounds/battle/{b-id}/task/{t-id}/edit-task?b-id=${battle.id}&t-id=${task.id}}`-->
              <!--                    method="post">-->
              <!--                <input class="edit-task-input" type="text" name="taskBodyEdit" th:placeholder=`${task.taskBody}`-->
              <!--                       autofocus>-->
              <!--                <button class="edit-task-btn hidden" type="submit">Edit</button>-->
              <!--              </form>-->
              <button class="open-edit-task-btn" type="button">
                <img src="/images/plus-6.png" alt="button icon" class="open-edit-task-btn-img">
              </button>
            </li>
          </ul>
        </div>
      </section>
      <!--      MONSTER DISPLAY-->
      <section class="monster">
        <div class="monster-image">
          <div class="monster-response"></div>
        </div>
      </section>
    </div>
  </div>
</div>
<footer th:insert="~{partials/footer :: footer}"></footer>
<script src="/js/script.js"></script>
</body>
</html>