<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="~{partials/head :: head ('Battle List')}"></head>
</head>
<body>
<nav th:insert="~{partials/navbar :: navbar}"></nav>
<div class="page-wrapper">
  <div class="container grow">
    <div class="row grow full-width no-padding align-center justify-center">
      <!--          BATTLE-->
      <div class="battles-list-container">
        <div class="battles-list-battles" th:each="battle : ${battles}" th:data-battle-id="${battle.id}">
          <h3 class="battles-list-title"><a th:text="${battle.title}"
                                            th:href="@{|/battlegrounds/${battle.id}|}"></a></h3>
          <!--              EDIT BATTLE FORM-->
          <form th:action="@{/battlegrounds/edit-battle-title}" th:method="post">
            <input type="hidden" th:value="${battle.id}" name="battleId">
            <input class="battles-list-edit-battle-input" th:value="${battle.title}" name="battleTitle">
            <button class="battles-list-edit-battle-btn hidden" type="submit"></button>
          </form>
          <!--              DELETE BATTLE FORM-->
          <form th:action="@{/battlegrounds/delete-battle}" th:method="post">
            <input type="hidden" th:value="${battle.id}" name="battleId">
            <button class="battles-list-delete-battle-btn" type="submit">
              <img src="/images/green-trash.png" alt="button icon" class="battles-list-btn-img">
            </button>
          </form>
          <button class="open-battles-list-edit-btn">
            <img src="/images/green-edit.png" alt="button icon" class="battles-list-btn-img">
          </button>
          <div class="battles-list-monster-thumb">
            <img th:src="${battle.monster.monsterImages[0].monster_img}" alt="monster thumbnail">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <!--            CREATE BATTLE FORM-->
      <form th:action="@{/battlegrounds/create-battle}" th:method="post">
        <div class="hidden-form-wrap">
          <input class="create-battle-input" type="text" placeholder="Add your battle..."
                 name="battleTitle"/>
          <button class="create-battle-btn" type="submit">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>


<footer th:insert="~{partials/footer :: footer}"></footer>
</body>
</html>