<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="~{partials/head :: head ('Battlegrounds')}"></head>
<body>
<nav th:insert="~{partials/navbar :: navbar}"></nav>
<div class="page-wrapper">
  <div class="container grow">
    <div class="row full-width no-padding">
      <!--      BATTLE SLIDE OUT-->
      <div class="battle-icon">
        <img class="battle-icon-img" src="/images/battle-axes.png" alt="battle icon">
      </div>
      <div class="battle-icon-banner">
        <p class="battle-icon-banner-text"> << Show Battles!</p>
      </div>
      <section class="battle-slide-out">
        <ul class="battles-list">
          <!--          BATTLE-->
          <li class="battle inactive" th:each="battle : ${battles}" th:data-battle-id="${battle.id}">
            <h3 class="battle-title" th:text="${battle.title}"></h3>

            <!--              EDIT BATTLE FORM-->
            <form class="edit-battle-form" th:action="@{/battlegrounds/edit-battle-title}" th:method="post">
              <input type="hidden" th:value="${battle.id}" name="battleId">
              <input class="edit-battle-input" th:value="${battle.title}" name="battleTitle">
              <button class="edit-battle-btn" type="submit">Change Battle Name</button>
            </form>

            <!--              DELETE BATTLE FORM-->
            <form class="delete-battle-form" th:action="@{/battlegrounds/delete-battle}" th:method="post">
              <input type="hidden" th:value="${battle.id}" name="battleId">
              <button class="delete-battle-btn" type="submit">Delete Battle</button>
            </form>
            <button class="open-edit-battle-btn" type="button">
              <img class="open-edit-battle-btn-img" src="/images/green-edit.png" alt="icon">
            </button>
          </li>
          <li>

            <!--            CREATE BATTLE FORM-->
            <form class="create-battle-form" th:action="@{/battlegrounds/create-battle}" th:method="post">
              <div class="hidden-form-wrap">
                <input class="create-battle-input" type="text" placeholder="Add your battle..."
                       name="battleTitle"/>
                <button class="create-battle-btn" type="submit">Submit</button>
              </div>
            </form>
          </li>
        </ul>
      </section>
      <!--      TASK CONTAINER-->
      <section class="tasks">
        <ul class="tasks-list" th:each="battle : ${battles}">
          <h2 class="tasks-battle-title" th:text="${battle.getTitle()}"></h2>

          <!--          TASK-->
          <li class="task not-complete" th:each="task : ${battle.getTasks()}">
            <!--              ADD COMPLETE TO THE CLASS FOR PRODUCTION SO THAT ONLY ONE OR THE OTHER SHOWS-->
            <p class="task-body" th:text="${task.getTaskBody()}"></p>
            <!--              <p class="task-body not-complete" th:unless="${task.getTaskComplete() == 0}" th:text="${task.getTaskBody()}"></p>-->

            <!--            COMPLETE TASK FORM-->
            <form class="complete-task-form" th:action="@{/battlegrounds/complete-task}"
                  th:method="post">
              <input type="hidden" name="taskId" th:value="${task.getId()}">
              <button class="complete-task-btn" type="submit">complete task</button>
            </form>

            <!--            EDIT TASK FORM-->
            <form class="edit-task-form" th:action="@{/battlegrounds/edit-task-body}" th:method="post">
              <input type="hidden" name="taskId" th:value="${task.getId()}">
              <input class="edit-task-input" type="text" name="editTaskBody"
                     th:value="${task.getTaskBody()}">
              <button class="edit-task-submit-btn" type="submit">Edit task</button>
            </form>

            <!--            DELETE TASK FORM-->
            <form class="delete-task-form" th:action="@{/battlegrounds/delete-task}" th:method="post">
              <input type="hidden" name="taskId" th:value="${task.getId()}">
              <button class="delete-task-btn" type="submit">Delete</button>
            </form>
            <button class="open-edit-task-btn" type="button">
              <img src="/images/green-edit.png" alt="icon" class="open-edit-task-btn-img">
            </button>
          </li>

          <!--            CREATE TASK FORM-->
          <li class="create-task-form-li">
            <form class="create-task-form" th:action="@{/battlegrounds/create-task}">
              <input type="hidden" name="battleId" th:value="${battle.getId()}">
              <input class="create-task-input" type="text" name="taskBody" placeholder="Create new task">
              <button class="create-task-btn" type="submit">Create task</button>
            </form>
          </li>
        </ul>
      </section>
      <section class="monsters">
        <!--      MONSTER DISPLAY-->
        <div class="monsters-container" th:each="battle : ${battles}">
          <div class="row grow justify-center align-center">
            <h1 th:text="${battle.title}"></h1>
            <h3 th:text="${battle.getMonster().getName()}"></h3>
            <div class="battle-monster-img" id="battle-monster-img">
              <img th:src="${battle.getMonster().getMonsterImages().get(0).getMonster_img()}">
            </div>
          </div>
        </div>
      </section>
    </div>
    <!--                    MONSTER CHAT BOX-->
    <div class="battle-chat-box">
      <h2>Monster chat box here</h2>
    </div>
  </div>
</div>
</div>
</div>
<footer th:insert="~{partials/footer :: footer}"></footer>
<script src="/js/script.js"></script>
</body>
</html>