<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="~{partials/head :: head ('Battle List')}"></head>
</head>
<body>
<nav th:insert="~{partials/navbar :: navbar}"></nav>
<div class="page-wrapper">

    <div class="container createBattleContainer">
        <div class="row">

            <!-- CREATE BATTLE FORM -->

            <form th:action="@{/battlegrounds/create-battle}" th:method="post">
                <div class="hidden-form-wrap">
                    <input class="create-battle-input" type="text" placeholder="Add your battle..."
                           name="battleTitle"/>
                    <button class="create-battle-btn" type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>

    <div class="container grow">
        <div class="row grow full-width no-padding align-center justify-center">
            <!-- BATTLE -->
            <div class="battles-list-container">
                <div class="row">
                    <div class="battleColumnSize">

                            <div id="battleDiv" class="battles-list-battles" th:each="battle : ${battles}"
                                 th:data-battle-id="${battle.id}">

                                <h3 class="battles-list-title">
                                    <a th:text="${battle.title}" th:href="@{|/battlegrounds/${battle.id}|}"></a>
                                </h3>
                                <div class="battles-list-monster-thumb">
                                    <img th:src="${battle.monster.monsterImages[0].monster_img}"
                                         alt="monster thumbnail">
                                </div>
                                <button class="editBattle" type="button" th:id="'battle-edit-btn' + ${battle.id}"
                                        th:data-battle-id="${battle.id}"><img class="editImage"
                                                                              src="/images/green-edit.png" alt="icon">
                                </button>


                                <!-- EDIT BATTLE FORM -->

                                <div class="modalOverlay hidden"></div>
                                <div class="editModal hidden" th:data-battle-id="${battle.id}">
                                    <form th:action="@{/battlegrounds/edit-battle-title}" th:method="post"
                                          class="editBattleTitle">
                                        <input type="hidden" th:value="${battle.id}" name="battleId">
                                        <input class="battles-list-edit-battle-input" th:value="${battle.title}"
                                               name="battleTitle">
                                        <button class="battles-list-edit-battle-modal" type="submit"><img
                                                class="editImage" src="/images/green-edit.png" alt="icon">
                                        </button>
                                    </form>

                                    <form th:action="@{/battlegrounds/delete-battle}" th:method="post"
                                          class="deleteBattleForm">
                                        <input type="hidden" th:value="${battle.id}" name="battleId">
                                        <button class="deleteBattleBtn" type="submit">
                                            <img src="/images/green-trash.png" alt="button icon"
                                                 class="battles-list-btn-img">
                                        </button>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>


<div th:insert="~{partials/footer :: footer}"></div>
<script src="/js/battleList.js"></script>
</body>
</html>
