<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="~{partials/head :: head ('Battlegrounds')}"></head>
<body>
<nav th:insert="~{partials/navbar :: navbar}"></nav>
<div class="page-wrapper">
  <div class="container grow">
    <div class="row grow full-width no-padding">
      <!--      BATTLE SLIDE OUT-->
      <div class="battle-icon">
        <img src="/images/battle-axes.png" alt="battle icon">
      </div>
      <section class="battle-slide-out">
        <form class="create-battle-form" th:action="@{/battlegrounds/create-battle}" method="post">
          <div class="add-battle-container">
            <div class="add-battle-wrap">
              <input class="create-battle-input" type="text" placeholder="Add your battle..." name="title"/>
              <button class="create-battle-btn"><img src="/images/plus-6.png" alt=""></button>
            </div>
          </div>
        </form>
        <div class="battles-list">
          <div th:each="battle : ${battles}">
            <div class="battle inactive" th:data-battle-id="${battle.id}">
              <h3 class="battle-title" th:text="${battle.title}"></h3>
            </div>
          </div>
        </div>
      </section>
      <!--      TASK CONTAINER-->
      <section class="tasks">
        <div class="tasks-list">
          <ul class="battle-tasks hidden" th:each="battle : ${battles}">
            <h2 class="tasks-battle-title" th:text="${battle.title}"></h2>
            <form class="create-task-form" th:action="@{/battlegrounds/create-task}">
              <input type="hidden" name="battleId" th:value="${battle.id}">
              <input class="create-task-input" type="text" name="create-task" placeholder="Create a new task">
              <button class="create-task-btn" type="submit"><img src="/images/plus-6.png" alt="button icon"></button>
            </form>
            <li class="task" th:each="task : ${battle.tasks}">
              <input type="hidden" name="battleStatus" th:value="${battle.status}">
              <input type="hidden" name="battleId" th:value="${battle.id}">
              <h3 class="task-body" th:text="${task.taskBody}"></h3>
            </li>
          </ul>
        </div>
      </section>
      <!--      MONSTER DISPLAY-->
      <section class="monster">
        <div class="monster-image">
          <div class="monster-response"></div>
        </div>
      </section>
    </div>
  </div>
</div>
<footer th:insert="~{partials/footer :: footer}"></footer>
<script src="/js/script.js"></script>
</body>
</html>