<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials/head :: head ('Register for Dungeons and Dust Bunnies')"></head>
<body>
<div class="page-wrapper">
    <header th:replace="partials/navbar :: navbar"></header>
    <div class="container grow align-center justify-center" style="margin-top: 100px">
        <div class="row justify-center align-center">
            <div class="column contact-form align-center">
                <h1 class="feedback-header">Contact Us</h1>
                <h3 class="contacth3">If you have any questions or concerns please email us directly <a
                        href="mailto:Dungeonsanddustbunnies@gmail.com"><u><em>here</em></u></a>.</h3>
            </div>
        </div>
    </div>
</div>
<footer th:replace="partials/footer :: footer"></footer>
</body>
</html>