<!DOCTYPE html>
<html lang="en">
<head>
  <head th:insert="~{partials/head :: head ('How-to')}"></head>
</head>
<body>
<div class="page-wrapper">
  <nav th:insert="~{partials/navbar :: navbar}" id="page-1"></nav>
  <div class="container mt-11">
    <div class="row how-phase scroll-page">
      <div class="column how-col">
        <h1 class="steps">Step 1: </h1>
        <p class="how-p how-p-title">Create a Battle</p>
        <div class="how-nav">
          <p class="mr-5 skip-to">Skip To: </p>
          <a class="hover skip-to" href="#page-1">1  </a>
          <a class="hover skip-to" href="#page-2">2  </a>
          <a class="hover skip-to" href="#page-3">3</a>
        </div>
      </div>
      <div class="column how-img-container">
        <div class="how-img"><img src="/images/addingbattleimg.png"></div>
      </div>
      <div class="column how-details">
        <p class="how-p" id="page-2">Navigate to the battlegrounds tab and click "Add your battle..." Name the battle how you please. You can create as many battles as you'd like.</p>
      </div>
    </div>

    <div class="row how-phase scroll-page">
      <div class="column how-col">
        <h1 class="steps">Step 2:</h1>
        <p class="how-p how-p-title">Assign Tasks to Battle</p>
        <div class="how-nav">
          <p class="mr-5 skip-to">Skip To: </p>
          <a class="hover skip-to" href="#page-1">1</a>
          <a class="hover skip-to" href="#page-2">2</a>
          <a class="hover skip-to" href="#page-3">3</a>
        </div>
      </div>
      <div class="column how-img-container">
        <div class="how-img"><img src="/images/How%20to%20Create%20and%20Complete%20Tasks%20in%20Battlegrounds%20-%20Step%202.png"></div>
      </div>
      <div class="column how-details">
        <p class="how-p" id="page-3">Once your battle is created. Assign tasks to that battle!</p>
      </div>
    </div>

    <div class="row how-phase scroll-page">
      <div class="column how-col">
        <h1 class="steps">Step 3:</h1>
        <p class="how-p how-p-title">Complete Tasks To Kill Monster</p>
        <div class="how-nav">
          <p class="mr-5 skip-to">Skip To: </p>
          <a class="hover skip-to" href="#page-1">1</a>
          <a class="hover skip-to" href="#page-2">2</a>
          <a class="hover skip-to" href="#page-3">3</a>
        </div>
      </div>
      <div class="column how-img-container">
        <div class="how-img"><img src="/images/_Workflow%20-%20Step%202.png" ></div>
      </div>
      <div class="column how-details">
        <p class="how-p">Completing tasks will slowly take down the monsters HP! Complete all tasks to finish the monster off and gain your trophy! Ps: make sure to check your badges on the profile page! </p>
      </div>
    </div>
  </div>
</div>
<div th:insert="~{partials/footer :: footer}"></div>
</body>
</html>