<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{partials/head :: head ('Home Page')}"></head>
<body>
<nav th:insert="~{partials/navbar :: navbar}"></nav>
<div class="page-wrapper">
  <div class="container grow">
    <div class="row grow full-width no-padding">
      <div class="column">
        <h1>Conquer chores, Battle Beasts: Transforming Mundane Tasks into Epic Quests!</h1>
        <h2>Embrace the chorevolution!</h2>
      </div>
      <div class="column">
        <h1>monster</h1>
        <h2>monster</h2>
        <h3>monster</h3>
        <h4>monster</h4>
      </div>
    </div>
  </div>
</div>
<footer th:insert="~{partials/footer :: footer}"></footer>
</body>
</html>