<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="~{partials/head :: head ('Home Page')}"></head>
<body>

<div class="page-wrapper index">
    <nav th:insert="~{partials/navbar :: navbar}" style="min-height: 100px"></nav>

    <div class="container">
        <div class="row justify-center">
            <h1 class="slogan">Conquer Chores, Battle Beasts!</h1>
        </div>
    </div>

    <div class="container">
        <div class="row tooRight">
            <div class="column">
                <div class="container leftSide">
                    <div class="container description">
                        <div class="row">
                            <div class="column landCol">
                                <h2 class="land-h2 attentionGetter">
                                    Transforming Mundane Tasks into Epic Quests!
                                </h2>
                            </div>

                        </div>
                    </div>
                    <h3 sec:authorize="!isAuthenticated()" class="land-h2 joinOrCreate">Answer Your Calling</h3>
                    <h3 sec:authorize="isAuthenticated()" class="land-h2 joinOrCreate">Go To War!</h3>
                    <div class="row justify-center">
                        <h3 sec:authorize="!isAuthenticated()" class="land-h2 attentionButton"><a href="/register">->
                            Join The Battle! <-</a></h3>
                        <h3 sec:authorize="isAuthenticated()" class="land-h2 attentionButton"><a href="/battleList">->
                            Battle <-</a></h3>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="rightSide container">
                    <div class="row">
                        <div class="column battleColumn">
                            <a th:href="@{/monsterList}"><img class="MonsterImages"
                                                              src="https://cdn.discordapp.com/attachments/415980182021603329/1119091591173382236/Untitled_Artwork.png"
                                                              alt="monsters"></a>
                            <p class="hover joinOrCreate"><a th:href="@{/monsterList}">Click Me to Meet the
                                Monsters!</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:insert="~{partials/footer :: footer}"></div>

</body>
</html>