<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="partials/head :: head ('Log In')"></head>
<body>
<div class="page-wrapper">
    <header th:replace="partials/navbar :: navbar"></header>
    <div class="container">
        <div class="row">
            <div class="column">
                <div class="row">
                    <div class="column">
                        <h1>Log In</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="column">
                        <form th:action="@{/login}" th:method="post">
                            <label  class="row" for="username">Username</label>
                            <input class="row" type="text" id="username" name="username">
                            <br>
                            <label class="row" for="password">Password</label>
                            <input class="row" type="password" id="password" name="password">
                            <br>
                            <div class="row">
                                <input type="submit" value="Log In">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>