<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<div class="page-wrapper">
    <div class="container grow justify-center">
        <div class="row justify-center">
            <div class="column shrink">
                <h1>Log In</h1>
                <form action="/login" method="post">
                    <label for="username">Username:</label>
                    <input type="text" id="username" name="username">
                    <label for="password">Password</label>
                    <input type="text" id="password" name="password">
                    <input type="submit" value="Log In">
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>