<!DOCTYPE html>
<html lang="en">
<head th:insert="~{partials/head :: head ('Meet the Monsters')}"></head>
<body>
<nav th:insert="~{partials/navbar :: navbar}" style="min-height: 100px"></nav>
<div class="page-wrapper">
    <div class="container">
        <div class="topRow">
            <div class="column">
                <h1 class="h1MonsterTitle">
                    <strong>Meet the Monsters</strong>
                </h1>
            </div>
        </div>
    </div>

    <div class="container">

        <div class="mainRow">
            <div class="setupStuff">
                <img src="https://cdn.discordapp.com/attachments/526187085741162498/1121186782000717975/IMG_1862.png"
                     alt="Dust Bunny" class="mTmImage">
                <div class="descriptionmTm">
                    <h2 class="h2monsterName">Dust Bunny Prime</h2>
                    <h3 class="h3Blurb">From the forgotten corners of neglected rooms, emerges Dust Bunny Prime, a
                        diminutive yet formidable creature standing at a mere 2 feet tall. Crafted from an eerie
                        amalgamation of hair and dust, he radiates an unsettling aura that sends shivers down the spines
                        of even the bravest souls. With beady, glowing eyes and razor-sharp claws, he scuttles silently
                        across the floor, leaving a trail of haunting whispers in his wake. Dust Bunny Prime thrives in
                        the shadows, lurking beneath furniture and haunting dusty corners, where he gathers his
                        nefarious strength. Legends speak of his insatiable hunger for chaos, as he spreads his murky
                        influence, leaving chaos and disarray in his path. Many have fallen victim to his entangling
                        tendrils, trapped in his web of hair and dust. Now, a courageous few stand united, determined to
                        vanquish the dark reign of Dust Bunny Prime and restore order to their once pristine
                        abodes.</h3>

                </div>
            </div>
        </div>

        <div class="mainRow">
            <div class="setupStuff">
                <img src="https://cdn.discordapp.com/attachments/526187085741162498/1121186781375778867/IMG_1864.png"
                     alt="Octorizz" class="mTmImage">
                <div class="descriptionmTm">
                    <h2 class="h2monsterName">OctoRizz the Slippery</h2>
                    <h3 class="h3Blurb">Deep within the treacherous depths of the forbidden abyss, OctoRizz the Slippery
                        lurks, a malevolent one-eyed tentacle monster donning a sinister feathered hat. His slimy
                        presence taints the once vibrant waters, casting a shadow of fear and despair upon all who dare
                        venture near. With his hypnotic gaze, he ensnares the hearts of the unsuspecting, manipulating
                        their desires to serve his wicked bidding. Legends warn of his cunning tricks and devious traps,
                        challenging brave souls to break free from his clutches. His every move drips with calculated
                        malevolence, a mastermind plotting to conquer and subjugate. A dark aura surrounds him,
                        whispering tales of his insatiable hunger for power and control. </h3>
                </div>
            </div>
        </div>

        <div class="mainRow">
            <div class="setupStuff">
                <img src="https://cdn.discordapp.com/attachments/526187085741162498/1121186782457909369/IMG_1861.png"
                     alt="Owlbear image" class="mTmImage">
                <div class="descriptionmTm">
                    <h2 class="h2monsterName">Sir OwlBear the Unclean</h2>
                    <h3 class="h3Blurb">Behold the fearsome creature known as Sir OwlBear the Unclean, a colossal beast
                        embodying the merging of bear and owl into a monstrous entity. Towering over the land with
                        intimidating stature, his hulking frame strikes terror into the hearts of all who cross his
                        path. Combining the ferocity of a bear with the predatory instincts of an owl, Sir OwlBear
                        possesses razor-sharp talons and a thunderous roar that shakes the very foundations of the
                        forest. His unkempt feathers and matted fur add to his ominous presence, hinting at the untamed
                        chaos that resides within. Legends speak of his insatiable appetite for destruction and his
                        insidious cunning, as he cunningly stalks his prey, leaving a trail of devastation in his wake.
                        Woe betide those who dare challenge his dominion, for Sir OwlBear the Unclean reigns supreme, a
                        dark force of nature that evokes both awe and terror.
                    </h3>
                </div>
            </div>
        </div>

        <div class="mainRow">
            <div class="setupStuff">
                <img src="https://cdn.discordapp.com/attachments/526187085741162498/1121186781669359728/IMG_1863.png"
                     alt="Blobbus Image" class="mTmImage">
                <div class="descriptionmTm">
                    <h2 class="h2monsterName">Blobbus McSlimey</h2>
                    <h3 class="h3Blurb">In the hidden depths of forgotten realms, lurks Blobbus McSlimey, an amorphous
                        entity resembling a cube, but purely composed of slippery, translucent slime. Moving with an
                        eerie fluidity, he slithers across the land, leaving a trail of mysterious goo in his wake.
                        Blobbus possesses a peculiar affinity for garbage and lost treasures, absorbing them into his
                        gelatinous body, creating a swirling sea of hidden secrets within his depths. Whispers of his
                        insatiable appetite for discarded relics and forgotten trinkets echo through tales of
                        adventurers who have encountered his enigmatic presence. Beware, for once ensnared by his
                        viscous embrace, escape becomes a daunting challenge. Yet, there are those who seek to unravel
                        the mysteries shrouded within Blobbus McSlimey's realm, delving into the heart of the
                        goop-filled abyss in hopes of reclaiming their lost treasures and revealing the secrets
                        concealed within his slimy confines.</h3>
                </div>
            </div>
        </div>

        <div class="mainRow">
            <div class="setupStuff">
                <img src="https://cdn.discordapp.com/attachments/526187085741162498/1121186781119914136/IMG_1866.png"
                     alt="Grimalkin" class="mTmImage">
                <div class="descriptionmTm">
                    <h2 class="h2monsterName">Grimalkin, the Malevolent Dish Heap</h2>
                    <h3 class="h3Blurb">Rising from the depths of neglect, emerges Grimalkin, the Malevolent Dish Heap,
                        a sentient abomination formed from an unholy amalgamation of grimy plates, crusty utensils, and
                        encrusted cookware. Towering in its revolting glory, this pile of filth and decay takes on a
                        grotesque semblance of life, reeking of foul odors that assail the senses. Grimalkin's form
                        constantly shifts and quivers, as if it is forever yearning to spread its putrid influence. The
                        very sight of its repugnant composition strikes disgust into the hearts of those unfortunate
                        enough to gaze upon it. Legends whisper of its vengeful sentience, as Grimalkin seeks to taint
                        everything it touches, corrupting cleanliness and sowing chaos in its wake. The darkness within
                        its amorphous core breeds malevolence, craving the misery of tidy kitchens and the disruption of
                        orderly households. </h3>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:insert="~{partials/footer :: footer}"></div>
</body>
</html>