<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{partials/head :: head ('Profile')}"></head>
<body>
<div class="page-wrapper">
<nav th:insert="~{partials/navbar :: navbar}"></nav>
<div class="container">
    <div class="row">
        <div class="column ">
            <img class="coverPhoto" src="https://plchldr.co/i/1000x200?&bg=111111&fc=ffffff" alt="Cover Photo">
            </div>
        </div>
    </div>




<!--<footer th:insert="~{partials/footer :: footer}"></footer>-->
</div>
</body>
</html>